html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body {
    margin: 0;
    padding-top: 100px;
}
h1, h2 {
    margin-bottom: 1em;
    text-align: center;
    text-transform: uppercase;
}
#adminSelect {
    text-align: center;
}
#adminSelect .row div a{
    border: 1px solid black;
    padding: 1em 10em;
}


.form-horizontal .form-group{
    width: 90%;
}

.form-horizontal .form-group span{
    color: red;
}

#button-create{
    text-align: right;
}

.control-td {
    display: inline-flex;
}

.control-td form {
    width: 50%;
}

/*start park*/
#map {
    height: 400px;

}

#search-park-form {
    position: relative;
}

#search-park-result {
    background: #ffffff;
    position: absolute;
    left: 0;
    top: 60px;
}

#search-park-result .media:hover {
    background: #cccccc;
}

#search-park-result img {
    width: 100px;
}

.park-banner {
    margin-bottom: 20px;
    cursor: pointer;
}

/*end of park*/

.btn{
    margin: 5px;
}

.admin-header-drop-down-div {
    margin: 1em;
    font-size: 20px;
}

#login-form, #forgot-form {
    margin-top: 5em;
}

#admin-footer {
    background-color: #e7e7e7;
    padding: 1em;
    color: #777;
}

#park-multi-select *{
    color: black;
}


.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
    margin: 5% 45%;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}