html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body {
    margin: 1em;
}
h1 {
    margin-bottom: 1em;
    text-align: center;
    text-transform: uppercase;
}
#adminSelect {
    text-align: center;
}
#adminSelect .row div a{
    border: 1px solid black;
    padding: 1em 10em;
}


.form-horizontal .form-group{
    width: 90%;
}

.form-horizontal .form-group span{
    color: red;
}

#button-create{
    text-align: right;
}

.control-td {
    display: inline-flex;
}

.control-td form {
    width: 50%;
}

/*start park*/
#map {
    height: 400px;

}


.park-banner {
    margin-bottom: 20px;
    cursor: pointer;
}

/*end of park*/

.btn{
    margin: 5px;
}
.admin-header-drop-down-div>a {
    border: 1px solid lightgray;
    padding: 1em;
    border-radius: 10px;
}

.admin-header-drop-down-div {
    margin-bottom: 2em;
}

