h1{
    font-family: "Kalam", Times, serif;
    margin: 0;
}

h2{
    font-family: "Kalam", Times, serif;
    margin: 0;
}

h3{
    font-family: "Kalam", Times, serif;
    margin: 0;
}

h4{
    font-family: "Comfortaa", Times, serif;
    margin: 0;
}

h5{
    font-family: "Comfortaa", Times, serif;
    margin: 0;
}

h6{
    font-family: "Comfortaa", Times, serif;
    margin: 0;
}

p {
    font-family: "Comfortaa", Times, serif;
}

input {
    font-family: "Comfortaa", Times, serif;
}

a{
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

a:hover{
    text-decoration: none;
}

#header{
    position: fixed;
    height: 50px;
    background-color: rgba(255, 255, 255,0.7);
    color: #021f4f;
    z-index: 1000;
    border-bottom:1px solid #a0a4aa;
}

#header img{
    height: 36px !important;
    width: 36px !important;
    margin-top: 7px;
    box-shadow: none !important;
    transition: none !important;
    -moz-transform: none !important;
    -webkit-transform: none !important;
    -ms-transform:none !important;
}

#search-root{
    margin-top: 8px;
}

#header-login>:first-child{
    margin: 10px 8%;
}

#header-login>:nth-child(2){
    margin: 0 8%;
}

#header-login>:nth-child(3){
    padding-left: 5%;
}

#header-hamburger {
    background-color: #f7f7f9;
    float: left; !important
}

#header-hamburger span {
    border: 1px solid #74777c;
}

#header-links a{
    font-family: "Comfortaa", Times, serif;
}

#header-google{
    display: block;
    width: 80%;
    margin-left: 10%;
}

#header-logout{
    display: block;
    width: 80%;
    margin-left: 10%;
    border: 0;
    color: black;
    background-color: white;
    decoration:none;
}

#login-error{
    display: block;
    margin-top: 10px;
    margin-left: 8%;
    margin-right: 8%;
    color: red;
}

#login-check{
    margin-left: -15px;
}

#footer{
    background-color: black;
    color: white;
    height: 35px;
    margin-top: 50px;
}

#footer h6{
    height: 35px;
    line-height: 35px;
    vertical-align: middle;
    float: left;
    margin-left: 5%;
}

.dropdown-menu li{
    text-align: center;
}
