/*Author: Sam*/

#main {
    margin-top:80px;
}

#parks-headline {
    margin-top: 40px;
    margin-bottom: 20px;
}

#search {
    margin-bottom: 20px;
}

#park-list {
    margin-top: 20px;
}

.park {
    margin-bottom: 20px;
}

.park .name {
    margin: 5px 0;
}

.park img {
    width: 100%;
    margin: auto;
}

#map {
    width: 100%;
    height: 500px;
}

#compare-wrapper {
    position: fixed;
    top: 50px;
    text-align: center;
    z-index: 1000;
    width: 100%;
}

#park-compare .row {
    margin-top: 30px
}

#park-compare .name {
    height: 60px;
}

#park-compare h3 {
    border-bottom: 1px solid #000000;
    margin-bottom: 10px;
}
