/*Author: Sam*/

#main {
    margin-top:80px;
}

#parks-headline {
    margin-bottom: 20px;
}

#search {
    margin-bottom: 20px;
}

#park-list {
    margin-top: 20px;
}

.park .name {
    margin: 5px 0;
}

.park {
    background-position: center;
    background-repeat: no-repeat;
    height: 200px;
    background-size: 150%;
    position: relative;
    transition: background-size 0.5s linear;
    -webkit-transition: background-size 0.5s linear;
    -moz-transition: background-size 0.5s linear;
    -ms-transition: background-size 0.5s linear;
}

.park:hover {
    background-size: 200%;
}

.park .caption {
    color: #ffffff;
    position: absolute;
    bottom: 0;
}

.marker {
    width: 300px;
    height: 200px;
}

.marker-img {
    width: 100%;
}

#map {
    width: 100%;
    height: 500px;
}

#park-compare .row {
    margin-top: 30px
}

#park-compare .name {
    height: 60px;
}

#park-compare h3 {
    border-bottom: 1px solid #000000;
    margin-bottom: 10px;
}

button.parkToWishlist {
    padding: 8px 8px;
}

button.parkToWishlist:hover .ai-glyphicon {
    color: #ffb606;
}
.ai-glyphicon {
    font-size: 24px;
}
