#signup {
    margin-top: 100px;
}

#signup h2 {
    font-weight: bold;
}

#form-name {
    margin-top: 30px;
}

#signup-error {
    margin-bottom: 10px;
    color: red;
}

#signup h6{
    display: block;
    margin-top: 50px;
    color: red;
}

#signup-profile{
    display: block;
    margin-top: 30px;
    width: 50px;
    border-radius: 48px;
}

#forget-username {
    margin-top: 30px;
    border: 1px dashed #c0cad8;
    padding: 30px 5%;
    border-radius: 8px;
}

.retrieve{
    display: block;
    margin-top: 100px;
}

.retrieve h2 {
    margin-bottom: 20px;
}

.retrieve h5{
    display: block;
    margin-top: 20px;
}
