#main{
    min-height: 660px;
}

#signup {
    margin-top: 120px;
}

#signup h2 {
    font-weight: bold;
}

#form-name {
    margin-top: 30px;
}

#signup-error {
    margin-bottom: 10px;
    color: red;
}

#signup h6{
    display: block;
    margin-top: 50px;
    color: red;
}

#signup-profile{
    display: block;
    margin-top: 30px;
    width: 50px;
    border-radius: 48px;
}

.retrieve{
    display: block;
    margin-top: 150px;
    border: 1px dashed #c0cad8;
    padding: 30px 5%;
    border-radius: 8px;
}

.retrieve h2 {
    margin-bottom: 20px;
}

.retrieve h5{
    display: block;
    margin-top: 20px;
}

#email-verify{
    font-size: 150px;
    margin-top: 50px;
    margin-left: 15%;
}

#confirm-resend{
    display: block;
    margin-top: 20px;
    margin-left: 15%;
}

#verify-result{
    margin-top: 40px;
}

.verify-button{
    display: block;
    margin-top: 20px;
}

#repass{
    margin: 20px;
}

#change-message{
    color: red;
}
