#signup {
    margin-top: 100px;
}

#signup h2 {
    font-weight: bold;
}

#form-name {
    margin-top: 30px;
}

#signup-error {
    margin-bottom: 10px;
    color: red;
}

#signup h6{
    display: block;
    margin-top: 50px;
    color: red;
}

#signup-profile{
    display: block;
    margin-top: 30px;
    width: 50px;
    border-radius: 48px;
}
