
.comment-single{
    display: inline-block;
    vertical-align: top;
    width: 98%;
    margin: 5px 1%;
    padding: 10px 3%;
    background-color: #f2f4f7;
    border: 1px solid #b1b5bc;
    border-radius: 3px;
}

.comment-single-left{
    float: left;
    width: 55%;
}

.comment-single-left>:first-child{
    float: left;
    width: 20%;
    margin-right: 10%;
}

.comment-single-left>:nth-child(2){
    float: right;
    width: 70%;
    text-align: left;
}

.comment-single-left>:nth-child(2) h4{
    float: left;
    width: 100%;
    font-weight: bold;
}

.comment-single-left>:nth-child(3){
    display: inline-block;
    width: 100%;
    margin-top: 15px;
}

.comment-single-left>:nth-child(3){
    display: inline-block;
    width: 100%;
    margin-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px dashed #b1b5bc;
}

.comment-single-left>:nth-child(4){
    display: inline-block;
    width: 100%;
    margin-top: 5px;
}

.comment-single-left>:nth-child(4) h5{
    float: left;
    margin-right: 5%;
}

.comment-single> img{
    float: right;
    width: 40%;
}
