@import 'https://fonts.googleapis.com/css?family=Roboto';
@import url('https://fonts.googleapis.com/css?family=Almendra+SC');
html {
  box-sizing:border-box;
}
*, *:before, *:after {
  box-sizing:inherit;
}
body {
  background-color:#9FB49B;
  margin:0;
   }
.page-wrapper {
  max-width:1024px;
  margin:0 auto;
  margin-top: 50px;
}

#pic1
{
	width:100%;
}
#caves
{
	border:1px dashed green;
	width:100%;
    display:inline-block;
}
#bruce-caves
{
	height:200px;

}

#img-bruce-caves
{
	float: right;
    margin: 0 0 10px 10px;
	width:350px;
	height:200px;

}
#sidebar {
  width:33%;
  margin-top: 50px;
  float:left;
}
.links {
  background-color:#3D473C;
  padding:0.2em 0.5em;
  font-size:1em;
  font-style:normal;
  text-transform:uppercase;
  color:#C4CFC3;
  margin-bottom:0;
  text-align:center;
}
.l1 {
  padding:0;
  margin-top:0;

}
.l1 li {
  text-align:center;
  border-bottom:1px solid #35693A;
  list-style:none;
  padding:0.2em 0.5em;
  font-family:Roboto;
  color:#C4CFC3;
}
.l1 li a {
  color:#40481C;
}
.l1 li:hover {
  background-color:#35693A;
}
.l1 li:hover a {
  color:#40481C;
}

#main, #sidebar-one, #sidebar-two {
  margin-bottom:1em;
}


#footer {

  clear:both;
}
